.container {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
  }

  .hero {
    text-align: center;
    margin: 96px 0px;
  }

  .social-link:first-child {
    margin-right: 8px;
  }

  .hero-title {
    font-size: 48px;
  }

  a {
    color: #003B74;
    text-decoration: none;
  }

  .blog-date {
    text-align: right;
    color: #b6bfb7;
    margin: 12px 0 48px 0;

  }